body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  font: inherit;

  &:hover {
    text-decoration: none;
  }
}


