$red: #8c5d5f; /* bg-color of box */
$green: #395041; /* bg-color of box */
$blue: #1f2553; /* bg-color of box */
$yellow: #ca9a23; /* bg-color of box */
$white: #fff;
$grey-green: #738e7b; /* bg-color of box-title */
