@font-face {
  font-family: montserrat-regular;
  src: url('./font/Montserrat-Regular.ttf');
  font-weight: 400;
}

body {
  font-family: "montserrat-regular", sans-serif;
  font-size: 1em;
}

a {
  color: inherit;
  font: inherit;
}

a:hover {
  text-decoration: none;
}
