<header class="site-header">
  <nav class="navbar navbar-expand-sm todo-nav">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" alt="BTS" width="84" height="84">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item active">
        <a class="navbar-link" href="#">Todo</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">Done</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">Tips</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">About Us</a>
      </li>
    </ul>
  </nav>
</header>

<div class="site-page-content">
  <div class="row">
    <div class="col box-1">
      <div class="box">
        <div class="box-title">
          <h4>Urgent - Important</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item">
              Task 1
            </li>
          </ul>
          <div class="btn-add"><span>+ Add an item</span></div>
        </div>
      </div>
    </div> <!-- end col -->

    <div class="col box-2">
      <div class="box">
        <div class="box-title">
          <h4>Important - Not Urgent</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
          </ul>
          <div class="btn-add"><span>+ Add an item</span></div>
        </div>
      </div>
    </div> <!-- end .col -->
  </div> <!-- end row -->

  <div class="row">
    <div class="col box-3">
      <div class="box">
        <div class="box-title">
          <h4>Urgent - Not Important</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
          </ul>
          <div class="btn-add"><span>+ Add an item</span></div>
        </div>
      </div>
    </div> <!-- end col -->

    <div class="col box-4">
      <div class="box">
        <div class="box-title">
          <h4>Not Urgent - Not Important</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
          </ul>
          <div class="btn-add"><span>+ Add an item</span></div>
        </div>
      </div>
    </div> <!-- end .col -->
  </div> <!-- end row -->
</div>

<footer class="site-footer">
  <p class="text-center">All rights reserved, 2018</p>
</footer>
