<header class="site-header">
  <nav class="navbar navbar-expand-sm todo-nav">
    <a class="navbar-brand" href="#">
      <img src="./assets/img/logo.png" alt="BTS" width="84" height="84">
    </a>
    <ul class="navbar-nav">
      <li class="navbar-item active">
        <a class="navbar-link" href="#">Todo</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">Done</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">Tips</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#">About Us</a>
      </li>
    </ul>
  </nav>
</header>

<div class="site-page-content">
  <div class="row">
    <div class="col">
      <div class="box ur-im-box">
        <div class="box-title">
          <h4>Urgent - Important</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
            <li class="btn-add">
              +
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- end col -->

    <div class="col">
      <div class="box ur-im-box">
        <div class="box-title">
          <h4>Urgent - Important</h4>
        </div>
        <div class="box-content">
          <ul class="list-todo">
            <li class="todo-item">
              Task 1
            </li>
            <li class="todo-item editing">
              Task 2 editi
            </li>
            <li class="todo-item done">
              Task ABC done
            </li>
            <li class="btn-add">
              +
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- end .col -->

  </div> <!-- end row -->
</div>

<footer class="site-footer">

</footer>
